.header-slider-part {
    display: block;
    width: 100%;
    padding: 20px 0 0;
    margin: 0 0 20px;
    text-align: center;
    overflow: hidden;
    overflow-x: auto;
    background: #e7efff
}

.header-slider-part ul {
    padding-bottom: 5px;
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%
}

.header-slider-part ul li {
    width: 42%;
    position: relative;
    display: inline-block;
    max-width: 120px;
    float: none;
    padding: 0;
    margin-right: 12px;
    white-space: normal;
    overflow-x: unset;
    vertical-align: top
}

.header-slider-part ul li a {
    display: block;
    background: #fff;
    padding: 5px;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    min-height: 108px
}

.header-slider-part ul li a img {
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    min-height: 70px
}

.header-slider-part ul li a span {
    background-color: #fff;
    display: block;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #605356;
    text-align: center;
    text-transform: none;
    padding: 10px 0 5px
}

@media only screen and (max-width:767px) {
    .isAction {
        display: none
    }

    .header-slider-part ul li a {
        min-height: 122px
    }

    .header-slider-part {
        padding: 20px 0 15px;
        margin: 0 0 10px
    }

    .header-slider-part ul {
        padding-bottom: 10px
    }
}

@media only screen and (min-width:767px) {
    .header-slider-part {
        background: transparent
    }

    .header-slider-part ul {
        padding-bottom: 5px;
        text-align: left;
        padding-left: 10px;
        white-space: nowrap;
        overflow-x: hidden;
        width: 100%;
        scroll-behavior: smooth
    }

    .header-slider-part ul li {
        position: relative;
        display: inline-block;
        width: 15.48%;
        float: none;
        padding: 0;
        margin-right: 15px;
        white-space: normal;
        overflow-x: unset;
        vertical-align: top;
        max-width: none
    }

    .header-slider-part ul li a {
        display: block;
        background: #fff;
        padding: 5px;
        transition: all .7s ease;
        -webkit-transition: all .7s ease;
        min-height: 108px
    }

    .header-slider-part ul li a img {
        width: 100%;
        max-width: 100%;
        vertical-align: bottom;
        min-height: 70px
    }

    .header-slider-part ul li a span {
        background-color: #fff;
        display: block;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #605356;
        text-align: center;
        text-transform: none;
        padding: 15px 0
    }
}

@media only screen and (min-width:900px) and (max-width:1024px) {
    .header-slider-part ul li a {
        min-height: 155px
    }
}

@media only screen and (min-width:768px) and (max-width:900px) {
    .header-slider-part ul li {
        width: 18.48%
    }

    .header-slider-part ul li a {
        min-height: 145px
    }
}



.banner {
    display: block;
    position: relative;
    margin-bottom: 2rem
}

.banner>a {
    position: relative;
    display: block;
    outline: none !important
}

.banner img {
    display: block;
    max-width: none;
    width: 100%;
    height: auto;
    object-fit: cover
}
.banner-overlay>a {
    position: relative
}

.banner-overlay>a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.25);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease
}

.banner-overlay.banner-overlay-light>a:after {
    background-color: rgba(255, 255, 255, 0.3)
}

.banner-overlay:hover>a:after,
.banner-overlay:focus>a:after {
    visibility: visible;
    opacity: 1
}
.banner-content {
    display: inline-block;
    position: absolute;
    padding-top: .4rem;
    left: 2rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%)
}


.banner-subtitle {
    color: #777;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 1rem
}

.banner-subtitle a {
    color: inherit
}

.banner-subtitle a:hover,
.banner-subtitle a:focus {
    text-decoration: none
}

.banner-subtitle.text-white a {
    color: #fff
}
.banner-title strong {
    font-weight: 600;
    color: #333;
}
b, strong {
    font-weight: 700;
}
.banner-title {
    color: #999;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -.01em;
    margin-bottom: 1.5rem;
}
.banner-title a {
    color: inherit
}

.banner-title a:hover,
.banner-title a:focus {
    text-decoration: none
}

.banner-title.text-white a {
    color: #fff
}
.banner-link {
    font-weight: 400;
    display: inline-block;
}
.banner-link:hover,
 .banner-link:focus {
    text-decoration: none !important
}
.banner-link:hover,
 .banner-link:focus  {
    opacity: 1;
    background-color: #39f;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    border-radius: .3rem;
}
.cta .btn {
    padding-top: 1.15rem;
    padding-bottom: 1.15rem
}
.cta-border {
    padding: 3.9rem 2rem;
    border: 1rem solid #f5f5f5;
    text-align: center
}
.cta-border .cta-content {
    display: flex;
    align-items: center;
    flex-direction: column
}
.cta-border .cta-text {
    position: relative;
    padding: 0;
    flex-grow: 1;

}


.cta-border p {

    margin-bottom: 0
}
@media screen and (min-width: 992px) {
    .cta-border {
        text-align: left;
        padding-left: 0;
        /* padding-right: 0 */
    }
    .cta-border .cta-content {
        flex-direction: row;
        padding-left: 1.5rem;
        align-items: center;
    }


    .cta-border .cta-text {
        margin-right: 2rem;
        padding-left: 3rem;
        margin-bottom: 0
    }
    .cta-border .cta-text::before {
        display: block
    }
}
@media screen and (max-width: 991px) {

    .cta-border .text-right {
        text-align: center !important
    }
    .cta-border .cta-content {
        display: block
    }
    .cta-border p {
        margin-left: auto;
        margin-right: auto
    }
}
.row {
    margin-left: -10px;
    margin-right: -10px
}
.cta-text {
    padding-top: .5rem
}

.cta-border .cta-text p {

    line-height: 1.3;
    letter-spacing: -.01em;
    color: #fff;
}


.cta-border p {
    max-width: none;
}
.text-right {
    text-align: right!important;
}
.cta-border {
    position: relative;
    border: none;

    background-size: cover;
    font-size: 2rem;
    /* margin-left: 70px; */

}
.mb-5 {
    margin-bottom: 5rem !important;
}
.cta-border .cta-img {
    position: absolute;
    left: 0px;
    top: 20px;
}


.row {
    margin-left: -10px;
    margin-right: -10px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px){
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}

p {
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Poppins';
    letter-spacing: 0;
    color: #777;
}
.cta .btn:not(.btn-block) {
    min-width: 178px;
}
.cta-border .btn {
    margin-right: 20px;
    margin-left: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #39f;
    border-color: #39f;
    box-shadow: none;
}
.btn-round {
    border-radius: 3rem;
    padding: .85rem 1.5rem;
    font-size: 1.4rem;
    letter-spacing: -.01em;
}
.mb-3 {
    margin-bottom: 3rem !important;
}
.heading .title {
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: -.025em;
}
.title-desc {
    color: #777;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    margin-bottom: 0;
    margin-top: .3rem;
}
.deal-col {
    display: flex;
    align-items: stretch;
}
.deal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 3.6rem 4rem 4.8rem;
    background-color: #f5f6f9;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    min-height: 420px;
    text-align: left
}
.deal>div {
    width: 100%;
}
.deal h2 {
    color: #ef837b;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.1;
    letter-spacing: -.01em;
    margin-bottom: .2rem;
    max-width: 240px;
}
.deal h4 {
    color: #777;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.25;
    letter-spacing: 0;
    margin-bottom: .5rem;
    max-width: 240px;
}
.deal-content {
    align-self: center;
    margin-top: -2rem;
}
.deal .product-title {
    max-width: 200px;
    margin-bottom: .7rem;
}
.product-title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -.01em;
    color: #333333;
    margin-bottom: .2rem;
    text-align: left
}
.product-title a:hover,
.product-title a:focus {
    color: #39f;
    text-decoration: none;
    transition: color 0.3s ease;

}
.product-title a {
    color: inherit
}

.product-price {
    color: #39f;
}
.product-price {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #39f;
    margin-bottom: 0.5rem;

}
.new-price {
    color: #ef837b;
    margin-right: .8rem;
    font-weight: 400;
    letter-spacing: -.01em;
}
.old-price {
    text-decoration: none;
    color: #cccccc;
}
.deal .btn {
    padding: 0 0 .2rem;

}
.btn-link {
    padding: .4rem 1rem;
    min-width: 0;
    color: #39f;
    text-decoration: none;
    border: none;
    border-bottom: .1rem solid transparent;
    letter-spacing: 0;
    font-size: 1rem;
    min-width: 0;
    font-family: "Poppins",sans-serif;
}
.btn-link:hover,
.btn-link:focus
 {
    color: #39f;
    text-decoration: none;
    border-color: #39f
}
.deal-bottom {
    align-self: flex-end;
}
.deal-countdown.offer-countdown {
    max-width: 250px;
}
.deal-countdown {
    margin-bottom: 0;
    margin-left: -.8rem;
    max-width: 100px;
}
/* .deal-countdown .countdown-show4 .countdown-section {
    width: calc(25% - 16px)
} */
.deal-countdown .countdown-show4 .countdown-section {
    width: calc(25% - 20px)
}
.deal-countdown .countdown-section {
    position: relative;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1;
    padding: .9rem 0 .3rem;
    margin-left: .4rem;
    margin-right: .8rem;
    background-color: #39f;
    border-radius: .3rem;
    border: none;
    /* margin-bottom: 2rem; */
    float: left;
    text-align: center;
}

.countdown-section:not(:last-child):after {
    content: ':';
    display: inline-block;
    font-size: 30px;
    line-height: 1;
    position: absolute;
    left: 100%;
    margin-left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%)
}

.countdown-section:not(:last-child):after {
    font-size: 30px;
    margin-left: 8px;
    color: #39f;
    margin-top: -0.1rem
}
.deal-countdown .countdown-amount {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: -.03em;
    margin-bottom: .4rem;
}
.deal-countdown .countdown-period {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -2rem;
    display: block;
    font-weight: 400;
    color: #666666;
    text-transform: lowercase;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}
.icon-boxes-container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.icon-boxes-container {
    background-color: #f7f7f7;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    margin-bottom: 0;
}
.bg-transparent {
    background-color: transparent!important;
}
.icon-box-side {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
}
.icon-box {
    color: #777;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    margin-bottom: 2rem;
}

.icon-box-side .icon-box-icon {
    display: inline-block;
    line-height: 0;
   
    text-align: center;
    margin-bottom: 0;
    font-size: 2rem;
    margin-right: 20px;
}

.icon-box-side .icon-box-title {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -.01em;
    margin-top: .2rem;
    margin-bottom: 0;
   
}
.icon-box-title {
    color: #333333;
   
}
.icon-box-content p:last-child {
    margin-bottom: 0;
}

.icon-box-side p {
    font-size: 1rem;
    letter-spacing: -.01em;
}
.icon-box-side p {
    margin-bottom: 0;
   
}



